[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.8.6"
Flask = "==2.0.1"
Flask-SQLAlchemy = "==2.5.1"
Flask-Cors = "==3.0.10"

[dev-packages]

[requires]
python_version = "3.9"
